@model IEnumerable<GreatestMovies.Models.Actor>

@{
    ViewBag.Title = "Index";
}

<h2 id="title">The Nominations</h2>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 colBorder">
            <div class="backgroundActor">
            <h2 id="theNames">@Html.DisplayFor(modelItem => item.ActorName)</h2> 
            </div>
            <h3 id="theYears">
                Born:</h3>
            <h4>@Html.DisplayFor(modelItem => item.DOB)</h4>
            <h4><b>
                Nationality: @Html.DisplayFor(modelItem => item.Nationality)
                </b>
            </h4>
            <h6>
                Gender: @Html.DisplayFor(modelItem => item.Gender)
            </h6>
            <p id="actionLinks">
                @Html.ActionLink("Edit", "Edit", new { id = item.ActorID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ActorID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ActorID })
            </p>
        </div>
    }
</div>
